*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header{
    background: #FFF8F3;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 26px ;
    border: 0;
    margin: 24px 50px 167px 1210px;

}

/* header and navigation styles */

nav{
    display: block;
    justify-content: space-between;
    margin: 50px 230px;
   
}

.nav-title{
    font-weight: 600;
    font-size: 40PX;
    text-align: center;
     
}
.last-year{
    font-size: 25px;
    text-align: center;
}
 
video{
    
        margin-left: 28vw;
        transform: translate(-50%);
      
}





/* banner styles */

.banner{
   
    /* align-items: center; */
    margin: 0 auto;
    width: 900px;
    height: 600px;
    background-image: url(../images/banner/banner1.png);
    background-size: 100%;
    background-repeat: no-repeat;
  
    background-position: bottom left;
    background-blend-mode: multiply;
    
}

.banner-title{
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    padding: 24px 10px; 
    padding-top: 216px;
    margin: 100px 50px 30px 365px;

}

.banner-description{
    font-size: 16px;
    text-align: right;
    margin: 30px 50px 24px 365px;
   

}

/* main section styling */

.previous-year{
    background: #FFF8F3;
    background-image: url(../images/person.png);
    backface-visibility: visible;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    margin-left: auto;
    
}

.previous-year .section-title{
    margin: 116px 50px 24px 862px;
    font-size: 40px;
    font-weight: 700;

}

.previous-year .section-description{
    margin: 5px 50px 20px 862px;

}

main li{
    list-style: none;
    margin: 5px 50px 8px 820px;
}

/* planning section styles */

.plan-section{
    padding-top:100px;
    background:#FFF8F3;
    border-radius: 10px;
    padding-bottom:80px;
    
}

.habit-container{
  display: flex;
  justify-content: space-around;
}

.habit{
    
    margin:30px 30px 20px 70px;
    border-radius: 10px;
    box-shadow: #FFF;
}

.plan-section .section-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;

}

.habit-description{

      color:  #737272;
      font-size: 16px;
      font-weight: 500;
}

/* mindset styles */

.mindset{
    /* box-shadow: 0px 20px 100px white; */
    border-radius: 10px;
    margin:60px 5px;
    padding:100px 130px;
    background-image: url(../images/gradient3.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: top left 20px;
    background-size: cover;
    
}

.mindset-title{

    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: #FFF8F3;
}

.btn-secondary{
    height: 50px;
    border-radius: 5px;
    background: white;
    color:  #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding:  10px 15px 10px 15px;
    border-color: #F15B22; 
    margin: 24px 130px 130px 30px;

}

/* footer stlying */

.footer{
    display: flex;
    column-gap: 70px;
    background-color: #FFF8F3;  
    width: 1200px;
    height: 570px;
    margin: auto;
    
  
}

.future{ 
     
    display: block;
    margin-top: 70px;
    margin: 110px 530px 24px 40px;
}

.future-title{
    font-size: 40px;
    font-weight: 600;
    text-align: left;
   

}

.future-description{
   
    text-align: left;
}

.future-email{
     
    font-size: 20px;
}

.subscribe{
    display: block;
    margin-top: 115px;
    padding-right:45px;
     padding-bottom:30px;

}

.subscription-title{
    
    font-size: 30px;
    font-weight: 600;
     width: 123px;
     margin-right: auto;
     padding-bottom:15px; 
}

.btn-footer{
    margin-top: 15px;
    margin-right: 50px;
    height: 50px;
    border-radius: 5px;
    background: white;
    color:  #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding:  10px 15px 10px 15px;
    border-color: #F15B22; 
}

.future a{
    text-decoration: none;
}